@font-face {
  font-family: 'myfont';
  font-display: swap;
  src: url('/demonChangeButterfly/Fredoka.woff2') format("truetype");
}
/* @font-face {
  font-family: 'myfont2';
  font-display: swap;
  src: url('/demonChangeButterfly/HarmonyOSHans-Medium.woff2') format("truetype");
} */
@font-face {
  font-family: 'mycodefont';
  font-display: swap;
  src: url('/demonChangeButterfly/CascadiaMono.ttf') format("truetype");
}